
.default  {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: rgb(121, 170, 170);
    box-shadow: 1px 1px 10px green;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
}

.red {
    border: 0;
    outline: 0;
    cursor: pointer;
    color: white;
    background-color: red;
    box-shadow: 1px 1px 10px green;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 500;
    padding: 4px 8px;
    display: inline-block;
    min-height: 28px;
}


 button:active {
     background-color: gray;
}

 button:hover {
    box-shadow: 1px 1px 10px black;

}

 button:disabled {
    opacity: 0.4;
    color: red;
    box-shadow: 1px 1px 10px red;
}

 button {
    margin: 2px
}

 button:focus {
    color: gray;
    padding: -5px;
    opacity: 0.8;
}