.error input {
    border: 1px solid red;
    background-color: pink;
}


.noError input {
    border: 1px solid green;
    background-color: greenyellow;
}

.error span {
    color: red;
    font-weight: bold;
    padding-left: 1px;
}


.noError span {
    color: green;
    font-weight: bold;
    padding-left: 1px;
}